@inherits TT.Web.Core.TTRazorViewBase<dynamic>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tennis Trooper</title>
    
    @RenderBundleStyle("~/bundles/css")
    @RenderSection("Header", false)
</head>
<body>
    <div id="body">@RenderBody()</div>
    @RenderBundleScript("~/bundles/js")
    <div id="footer">@RenderSection("Footer", false)</div>
    <div id="optional">@RenderSection("Optional", false)</div></body>
</html>
